<section class="card">
    <div class="container bg">
        <p class="title"><i class="icon icon-taxi"></i>Uber / Private Taxi</p>
        <p class="text">The simplest method is to use a private taxi straight to our door.</p>
    </div>
</section>        

<section class="card">
    <div class="container bg">
        <p class="title">
            <i class="icon icon-bus"></i>London Public Transport
        </p>
        <p class="pretitle">                    
            To use the London public transport network, the easiest way to pay is
            to buy a <a href="#">Visitor Oyster Card</a> or
            your own 'contactless' UK bank card. You can get to us via Bus or Tube.
        </p>
        <div class="snippet transition">
            <a href="#" class="hdr"></a>
            <div class="flex">
                <div class="image" style="background-image: url(img/transport-1.jpg)"></div>
                <div class="description">
                    <p class="pretitle"><b>The London Pass</b></p>
                    <p class="text">
                        The London Oyster Card is a rechargeable travelcard that can be used. 
                        <a href="#" class="more">Buy LondonPass</a>
                    </p>
                </div>
            </div>
        </a> 
    </div>
</section>
        
<section class="card">
    <div class="container bg">
        <p class="title">
            <i class="icon icon-train"></i>Tube
        </p>
        <p class="pretitle">                    
            There are two main stations in Acton:
        </p>
        <ul>
            <li>North Acton Station (Central Line) - Zones 2 & 3 (Last train from Central London: 00:15)</li>
            <li>Acton Town Station (Piccadilly & District Lines) – Zone 3 (Last train: 00:15)</li>
            <li>The Underground Tube network is now running all night on Friday and Saturday nights until 04:30 on Sunday morning.</li>
            <li>North Acton Station (Central Line) - Zones 2 & 3 (Last train from Central London: 00:15)</li>
            <li>Acton Town Station (Piccadilly & District Lines) – Zone 3 (Last train: 00:15)</li>
            <li>The Underground Tube network is now running all night on Friday and Saturday nights until 04:30 on Sunday morning.</li>
        </ul>
        <p class="pretitle">Please visit the <a href="#" class="primary-link link-border-primary">TfL Night Tube</a> for more information.</p>
        <div class="snippet transition">
            <a href="#" class="hdr"></a>
            <div class="flex">
                <div class="image" style="background-image: url(img/transport-2.jpg)"></div>
                <div class="description">
                    <p class="pretitle"><b>Transport for London</b></p>
                    <p class="text">
                        Tube, DLR, and London Overground, TfL Rail and Tram
                        <a href="#" class="more">Buy LondonPass</a>
                    </p>
                </div>
            </div>
        </a>  
    </div>
</section>     
   
<section class="card">
    <div class="container bg">
        <p class="title">
            <i class="icon icon-fly"></i>From Gatwick Airport
        </p>
        <ol>
            <li>Take Gatwick Express to Victoria Station.</li>
            <li>Change to Underground – Circle Line to Notting Hill Gate OR Victoria Line to Oxford Circus.</li>
            <li>Change to Central Line to North Acton (steps to exit)</li>
            <li>Walk or take bus 266 (towards Hammersmith) to hotel – 0.8 miles; 15-20 minutes walk (see map above)</li>
        </ol>  
    </div>
</section>

<section class="card">
    <div class="container bg">
        <p class="title">
            <i class="icon icon-car"></i>Driving
        </p>
        <p class="text">
            We are located off the A4020 (Acton High Street) and A40 (Western Avenue) which runs through London and is not part of the congestion charging zone.    
        </p>   
    </div>
</section>

<section class="card">
    <div class="container bg">
        <p class="title">
            <i class="icon icon-parking"></i>Parking
        </p>
        <p class="text">
            We have our own car park at the rear of the building. This is free of charge for guests during their stay. If there are no spaces, the street parking is free from 5pm – 10am next day, Monday to Friday. Parking is free all day on Saturday and Sunday.    
        </p>      
    </div>
</section>

<section class="card">
    <div class="container bg">
        <p class="title">
            <i class="icon icon-fly"></i>From Heathrow Airport (For all terminals)
        </p>
        <p class="text">
            Take TfL Rail (from Heathrow Terminals 2&3 or 4 Rail Station) to Acton Main Line Rail Station.    
        </p>  
    </div>
</section>