<section class="card">
    <div class="container bg">
        <p class="title"><i class="icon icon-phone"></i>Contact Details</p>
        <div class="flex list">
            <div class="item col-3">
                <p>You can contact us by calling:</p>
                <p class="font-semibold text-uppercase">+44 (0) 207 000 0000</p>
            </div>
            <div class="item col-3">
                <p>Fax:</p>
                <p class="font-semibold text-uppercase">+44 (0) 207 000 0000</p>
            </div>
            <div class="item col-3">
                <p>Our address is:</p>
                <p class="font-semibold text-uppercase">9997 HORNE LANE, LONDON W3 6QP</p>
            </div>
        </div>
        <button class="btn collapse mobile" type="button">
            <span class="on">Show more</span>
            <span class="off">Hide</span>
        </button>
    </div>
</section>

<section class="card">
    <div class="container bg">
        <p class="title"><i class="icon icon-coffee"></i>Breakfast</p>
        <p class="pretitle">Breakfast is served <strong>7am to 11am</strong></p>
        <p class="text">We offer a simple continental breakfast: providing a choice of tea/coffee/hot chocolate, orange juice, toast, marmalade, strawberry/raspberry jam, selection of cereals and fruit, and choice of yogurts in one of two cosy breakfast rooms.</p>
        <button class="btn collapse mobile" type="button">
            <span class="on">Show more</span>
            <span class="off">Hide</span>
        </button>
    </div>
</section>

<section class="card">
    <div class="container bg">
        <p class="title"><i class="icon icon-time"></i>Check-in &amp; Check-out</p>
        <div class="flex list">
            <div class="item col-3">
                <p>Check-in time:</p>
                <p class="font-semibold text-uppercase">2PM</p>
            </div>
            <div class="item col-3">
                <p>Check-out time:</p>
                <p class="font-semibold text-uppercase">2PM</p>
            </div>
            <div class="item col-3">
                <p>Express check-out:</p>
                <p class="font-semibold text-uppercase">5 GBP</p>
            </div>
        </div>
        <button class="btn collapse mobile" type="button">
            <span class="on">Show more</span>
            <span class="off">Hide</span>
        </button>
    </div>
</section>        

<section class="card">
    <div class="container bg">
        <p class="title"><i class="icon icon-service"></i>Services</p>
        <p class="pretitle">We are able to offer the following on request:</p>
        <ul class="flex list">
            <li class="col-3">European Adapters</li>
            <li class="col-3" class="col-3">Taxis</li>
            <li class="col-3">Extra pillows</li>
            <li class="col-3">Baby Cot</li>
            <li class="col-3">Extra Towels at minimal cost</li>
            <li class="col-3">Iron & ironing board</li>
        </ul>
        <button class="btn collapse mobile" type="button">
            <span class="on">Show more</span>
            <span class="off">Hide</span>
        </button>
    </div>
</section>

<section class="card">
    <div class="container bg">
        <p class="title"><i class="icon icon-wifi"></i>Wi-Fi</p>
        <p class="pretitle">Breakfast is served <strong>7am to 11am</strong>.</p>
        <p class="text">We offer a simple continental breakfast: providing a choice of tea/coffee/hot chocolate, orange juice, toast, marmalade, strawberry/raspberry jam, selection of cereals and fruit, and choice of yogurts in one of two cosy breakfast rooms.</p>
        <div class="warning">
            <i class="icon icon-info-circled"></i>
            <p class="opacity">But by using unsecured public Wi-Fi while you travel, you could be exposing data that could make your online accounts vulnerable and put you at risk for identity theft.</p>
        </div>
        <button class="btn collapse mobile" type="button">
            <span class="on">Show more</span>
            <span class="off">Hide</span>
        </button>
    </div>
</section>