<section class="carousel">
    <div class="container">
        <div class="list flex">
            <div class="item bg bbox">
                <a href="#" class="hdr"></a><span class="image" style="background-image: url(img/slider-img.jpg)"></span>
                <p class="title">Top Attractions Top Attractions Top Attractions</p>
                <p class="subtitle">London Pass1</p>
                <p class="description">
                    See London's top attractions and save over £141 on entry prices. Enjoyed by over 3
                    million visitors! See London's top attractions and save over £141 on entry prices.
                    Enjoyed by over 3 million visitors!
                </p>
                <a href="#" class="btn transition">Read More<i class="icon icon-arrow-right btn-icon-arrow"></i></a>
            </div>

            <div class="item bg bbox">
                <a href="#" class="hdr"></a><span class="image" style="background-image: url(img/slider-img.jpg)"></span>
                <p class="title"> Top Attractions</p>
                <p class="subtitle">London Pass2</p>
                <p class="description">
                    See London's top attractions and save over £141 on entry prices. Enjoyed by over 3
                    million visitors! See London's top attractions and save over £141 on entry prices.
                    Enjoyed by over 3 million visitors!
                </p>
                <a href="#" class="btn transition">Read More<i class="icon icon-arrow-right btn-icon-arrow"></i></a>
            </div>

            <div class="item bg bbox">
                <a href="#" class="hdr"></a><span class="image" style="background-image: url(img/slider-img.jpg)"></span>
                <p class="title">Top Attractions Top Attractions Top Attractions</p>
                <p class="subtitle">London Pass3</p>
                <p class="description">
                    
                    Enjoyed by over 3 million visitors!
                </p>
                <a href="#" class="btn transition">Read More<i class="icon icon-arrow-right btn-icon-arrow"></i></a>
            </div>

            <div class="item bg bbox">
                <a href="#" class="hdr"></a><span class="image" style="background-image: url(img/slider-img.jpg)"></span>
                <p class="title">Top Attractions Top Attractions Top Attractions</p>
                <p class="subtitle">London Pass4</p>
                <p class="description">
                    See London's top attractions and save over £141 on entry prices. Enjoyed by over 3
                    million visitors! See London's top attractions and save over £141 on entry prices.
                    Enjoyed by over 3 million visitors!
                </p>
                <a href="#" class="btn transition">Read More<i class="icon icon-arrow-right btn-icon-arrow"></i></a>
            </div>

            <div class="item bg bbox">
                <a href="#" class="hdr"></a><span class="image" style="background-image: url(img/slider-img.jpg)"></span>
                <p class="title">Top Attractions Top Attractions Top Attractions</p>
                <p class="subtitle">London Pass5</p>
                <p class="description">
                    See London's top attractions and save over £141 on entry prices. Enjoyed by over 3
                    million visitors! See London's top attractions and save over £141 on entry prices.
                    Enjoyed by over 3 million visitors!
                </p>
                <a href="#" class="btn transition">Read More<i class="icon icon-arrow-right btn-icon-arrow"></i></a>
            </div>

            <div class="item bg bbox">
                <a href="#" class="hdr"></a><span class="image" style="background-image: url(img/slider-img.jpg)"></span>
                <p class="title">Top Attractions Top Attractions Top Attractions</p>
                <p class="subtitle">London Pass6</p>
                <p class="description">
                    See London's top attractions and save over £141 on entry prices. Enjoyed by over 3
                    million visitors! See London's top attractions and save over £141 on entry prices.
                    Enjoyed by over 3 million visitors!
                </p>
                <a href="#" class="btn transition">Read More<i class="icon icon-arrow-right btn-icon-arrow"></i></a>
            </div>

            <div class="item bg bbox">
                <a href="#" class="hdr"></a><span class="image" style="background-image: url(img/slider-img.jpg)"></span>
                <p class="title">Top Attractions Top Attractions Top Attractions</p>
                <p class="subtitle">London Pass7</p>
                <p class="description">
                    See London's top attractions and save over £141 on entry prices. Enjoyed by over 3
                    million visitors! See London's top attractions and save over £141 on entry prices.
                    Enjoyed by over 3 million visitors!
                </p>
                <a href="#" class="btn transition">Read More<i class="icon icon-arrow-right btn-icon-arrow"></i></a>
            </div>

            <div class="item bg bbox">
                <a href="#" class="hdr"></a><span class="image" style="background-image: url(img/slider-img.jpg)"></span>
                <p class="title">Top Attractions Top Attractions Top Attractions</p>
                <p class="subtitle">London Pass7</p>
                <p class="description">
                    See London's top attractions and save over £141 on entry prices. Enjoyed by over 3
                    million visitors! See London's top attractions and save over £141 on entry prices.
                    Enjoyed by over 3 million visitors!
                </p>
                <a href="#" class="btn transition">Read More<i class="icon icon-arrow-right btn-icon-arrow"></i></a>
            </div>

            <div class="item bg bbox">
                <a href="#" class="hdr"></a><span class="image" style="background-image: url(img/slider-img.jpg)"></span>
                <p class="title">Top Attractions Top Attractions Top Attractions</p>
                <p class="subtitle">London Pass7</p>
                <p class="description">
                    See London's top attractions and save over £141 on entry prices. Enjoyed by over 3
                    million visitors! See London's top attractions and save over £141 on entry prices.
                    Enjoyed by over 3 million visitors!
                </p>
                <a href="#" class="btn transition">Read More<i class="icon icon-arrow-right btn-icon-arrow"></i></a>
            </div>

            <div class="item bg bbox">
                <a href="#" class="hdr"></a><span class="image" style="background-image: url(img/slider-img.jpg)"></span>
                <p class="title">Top Attractions Top Attractions Top Attractions</p>
                <p class="subtitle">London Pass7</p>
                <p class="description">
                    See London's top attractions and save over £141 on entry prices. Enjoyed by over 3
                    million visitors! See London's top attractions and save over £141 on entry prices.
                    Enjoyed by over 3 million visitors!
                </p>
                <a href="#" class="btn transition">Read More<i class="icon icon-arrow-right btn-icon-arrow"></i></a>
            </div>

            <div class="item bg bbox">
                <a href="#" class="hdr"></a><span class="image" style="background-image: url(img/slider-img.jpg)"></span>
                <p class="title">Top Attractions Top Attractions Top Attractions</p>
                <p class="subtitle">London Pass7</p>
                <p class="description">
                    See London's top attractions and save over £141 on entry prices. Enjoyed by over 3
                    million visitors! See London's top attractions and save over £141 on entry prices.
                    Enjoyed by over 3 million visitors!
                </p>
                <a href="#" class="btn transition">Read More<i class="icon icon-arrow-right btn-icon-arrow"></i></a>
            </div>

            <div class="item bg bbox">
                <a href="#" class="hdr"></a><span class="image" style="background-image: url(img/slider-img.jpg)"></span>
                <p class="title">Top Attractions Top Attractions Top Attractions</p>
                <p class="subtitle">London Pass7</p>
                <p class="description">
                    See London's top attractions and save over £141 on entry prices. Enjoyed by over 3
                    million visitors! See London's top attractions and save over £141 on entry prices.
                    Enjoyed by over 3 million visitors!
                </p>
                <a href="#" class="btn transition">Read More<i class="icon icon-arrow-right btn-icon-arrow"></i></a>
            </div>

            <div class="item bg bbox">
                <a href="#" class="hdr"></a><span class="image" style="background-image: url(img/slider-img.jpg)"></span>
                <p class="title">Top Attractions Top Attractions Top Attractions</p>
                <p class="subtitle">London Pass7</p>
                <p class="description">
                    See London's top attractions and save over £141 on entry prices. Enjoyed by over 3
                    million visitors! See London's top attractions and save over £141 on entry prices.
                    Enjoyed by over 3 million visitors!
                </p>
                <a href="#" class="btn transition">Read More<i class="icon icon-arrow-right btn-icon-arrow"></i></a>
            </div>

            <div class="item bg bbox">
                <a href="#" class="hdr"></a><span class="image" style="background-image: url(img/slider-img.jpg)"></span>
                <p class="title">Top Attractions Top Attractions Top Attractions</p>
                <p class="subtitle">London Pass7</p>
                <p class="description">
                    See London's top attractions and save over £141 on entry prices. Enjoyed by over 3
                    million visitors! See London's top attractions and save over £141 on entry prices.
                    Enjoyed by over 3 million visitors!
                </p>
                <a href="#" class="btn transition">Read More<i class="icon icon-arrow-right btn-icon-arrow"></i></a>
            </div>

            <div class="item bg bbox">
                <a href="#" class="hdr"></a><span class="image" style="background-image: url(img/slider-img.jpg)"></span>
                <p class="title">Top Attractions Top Attractions Top Attractions</p>
                <p class="subtitle">London Pass7</p>
                <p class="description">
                    See London's top attractions and save over £141 on entry prices. Enjoyed by over 3
                    million visitors! See London's top attractions and save over £141 on entry prices.
                    Enjoyed by over 3 million visitors!
                </p>
                <a href="#" class="btn transition">Read More<i class="icon icon-arrow-right btn-icon-arrow"></i></a>
            </div>

            <div class="item bg bbox">
                <a href="#" class="hdr"></a><span class="image" style="background-image: url(img/slider-img.jpg)"></span>
                <p class="title">Top Attractions Top Attractions Top Attractions</p>
                <p class="subtitle">London Pass7</p>
                <p class="description">
                    See London's top attractions and save over £141 on entry prices. Enjoyed by over 3
                    million visitors! See London's top attractions and save over £141 on entry prices.
                    Enjoyed by over 3 million visitors!
                </p>
                <a href="#" class="btn transition">Read More<i class="icon icon-arrow-right btn-icon-arrow"></i></a>
            </div>

            <div class="item bg bbox">
                <a href="#" class="hdr"></a><span class="image" style="background-image: url(img/slider-img.jpg)"></span>
                <p class="title">Top Attractions Top Attractions Top Attractions</p>
                <p class="subtitle">London Pass7</p>
                <p class="description">
                    See London's top attractions and save over £141 on entry prices. Enjoyed by over 3
                    million visitors! See London's top attractions and save over £141 on entry prices.
                    Enjoyed by over 3 million visitors!
                </p>
                <a href="#" class="btn transition">Read More<i class="icon icon-arrow-right btn-icon-arrow"></i></a>
            </div>

            <div class="item bg bbox">
                <a href="#" class="hdr"></a><span class="image" style="background-image: url(img/slider-img.jpg)"></span>
                <p class="title">Top Attractions Top Attractions Top Attractions</p>
                <p class="subtitle">London Pass7</p>
                <p class="description">
                    See London's top attractions and save over £141 on entry prices. Enjoyed by over 3
                    million visitors! See London's top attractions and save over £141 on entry prices.
                    Enjoyed by over 3 million visitors!
                </p>
                <a href="#" class="btn transition">Read More<i class="icon icon-arrow-right btn-icon-arrow"></i></a>
            </div>

            <div class="item bg bbox">
                <a href="#" class="hdr"></a><span class="image" style="background-image: url(img/slider-img.jpg)"></span>
                <p class="title">Top Attractions Top Attractions Top Attractions</p>
                <p class="subtitle">London Pass7</p>
                <p class="description">
                    See London's top attractions and save over £141 on entry prices. Enjoyed by over 3
                    million visitors! See London's top attractions and save over £141 on entry prices.
                    Enjoyed by over 3 million visitors!
                </p>
                <a href="#" class="btn transition">Read More<i class="icon icon-arrow-right btn-icon-arrow"></i></a>
            </div>
        </div>
    </div>
    
</section>