<section class="carousel">
    <div class="container">
        <div class="list flex">
        
            <div class="item bg bbox">
                <a href="#" class="hdr"></a><span class="image" style="background-image: url(img/slider-img.jpg)"></span>
                <p class="title">Top Attractions Top Attractions Top Attractions</p>
                <div class="rating flex">
                    <div class="flex">
                        <div class="stars">
                            <div class="strock">
                                <i class="icon icon-star"></i>
                                <i class="icon icon-star"></i>
                                <i class="icon icon-star"></i>
                                <i class="icon icon-star"></i>
                                <i class="icon icon-star"></i>
                            </div>
                            <div class="fill" style="width: 30%;">
                                <i class="icon icon-star"></i>
                                <i class="icon icon-star"></i>
                                <i class="icon icon-star"></i>
                                <i class="icon icon-star"></i>
                                <i class="icon icon-star"></i>
                            </div>
                        </div>
                            
                        <span class="text-sm opacity">1</span>
                    </div>
                    
                    <div class="text-sm opacity">£££</div>
                    
                </div>
                <p class="subtitle">
                    Crossoaks Lane Well End Nr. Boreham Herts WD6 5PH <span class="text-sm opacity">110 meters</span></p>
                <p class="description">
                    London Pass - see London's top attractions and save over £141 on entry prices.!
                    London Pass - see London's top attractions and save over £141 on entry prices.!
                </p>
                <a href="#" class="btn transition">Read More<i class="icon icon-arrow-right btn-icon-arrow"></i></a>
            </div>
            
            <div class="item bg bbox">
                <a href="#" class="hdr"></a><span class="image" style="background-image: url(img/slider-img.jpg)"></span>
                <p class="title">Top Attractions Top Attractions Top</p>
                <div class="rating flex">
                    <div class="flex">
                        <div class="stars">
                            <div class="strock">
                                <i class="icon icon-star"></i>
                                <i class="icon icon-star"></i>
                                <i class="icon icon-star"></i>
                                <i class="icon icon-star"></i>
                                <i class="icon icon-star"></i>
                            </div>
                            <div class="fill" style="width: 40%;">
                                <i class="icon icon-star"></i>
                                <i class="icon icon-star"></i>
                                <i class="icon icon-star"></i>
                                <i class="icon icon-star"></i>
                                <i class="icon icon-star"></i>
                            </div>
                        </div>
                            
                        <span class="text-sm opacity">2</span>
                    </div>
                    
                    <div class="text-sm opacity">£££</div>
                    
                </div>
                <p class="subtitle">89 Shacklewell Ln, London, E8 2EB <span class="text-sm opacity">110 meters</span></p>
                <p class="description">
                    See London's top attractions and save over &pound;141 on entry prices. Enjoyed by over 3 million visitors!
                </p>
                <a href="#" class="btn transition">Read More<i class="icon icon-arrow-right btn-icon-arrow"></i></a>
            </div>
            
            <div class="item bg bbox">
                <a href="#" class="hdr"></a><span class="image" style="background-image: url(img/slider-img.jpg)"></span>
                <p class="title">Top Attractions Top Top Attractions</p>
                <div class="rating flex">
                    <div class="flex">
                        <div class="stars">
                            <div class="strock">
                                <i class="icon icon-star"></i>
                                <i class="icon icon-star"></i>
                                <i class="icon icon-star"></i>
                                <i class="icon icon-star"></i>
                                <i class="icon icon-star"></i>
                            </div>
                            <div class="fill" style="width: 50%;">
                                <i class="icon icon-star"></i>
                                <i class="icon icon-star"></i>
                                <i class="icon icon-star"></i>
                                <i class="icon icon-star"></i>
                                <i class="icon icon-star"></i>
                            </div>
                        </div>
                            
                        <span class="text-sm opacity">3</span>
                    </div>
                    
                    <div class="text-sm opacity">£££</div>
                    
                </div>
                <p class="subtitle">London Pass</p>
                <p class="description">
                    See London's top attractions and save over &pound;141 on entry prices. Enjoyed by over 3 million visitors!
                </p>
                <a href="#" class="btn transition">Read More<i class="icon icon-arrow-right btn-icon-arrow"></i></a>
            </div>
            
            <div class="item bg bbox">
                <a href="#" class="hdr"></a><span class="image" style="background-image: url(img/slider-img.jpg)"></span>
                <p class="title">Top Attractions</p>
                <div class="rating flex">
                    <div class="flex">
                        <div class="stars">
                            <div class="strock">
                                <i class="icon icon-star"></i>
                                <i class="icon icon-star"></i>
                                <i class="icon icon-star"></i>
                                <i class="icon icon-star"></i>
                                <i class="icon icon-star"></i>
                            </div>
                            <div class="fill" style="width: 60%;">
                                <i class="icon icon-star"></i>
                                <i class="icon icon-star"></i>
                                <i class="icon icon-star"></i>
                                <i class="icon icon-star"></i>
                                <i class="icon icon-star"></i>
                            </div>
                        </div>
                            
                        <span class="text-sm opacity">4</span>
                    </div>
                    
                    <div class="text-sm opacity">£££</div>
                    
                </div>
                <p class="subtitle">
                    London Pass</p>
                <p class="description">
                    See London's top attractions and save over &pound;141 on entry prices. Enjoyed by over 3 million visitors!
                </p>
                <a href="#" class="btn transition">Read More<i class="icon icon-arrow-right btn-icon-arrow"></i></a>
            </div>
            
            <div class="item bg bbox">
                <a href="#" class="hdr"></a><span class="image" style="background-image: url(img/slider-img.jpg)"></span>
                <p class="title">Top Attractions Top Attractions Top Attractions</p>
                <div class="rating flex">
                    <div class="flex">
                        <div class="stars">
                            <div class="strock">
                                <i class="icon icon-star"></i>
                                <i class="icon icon-star"></i>
                                <i class="icon icon-star"></i>
                                <i class="icon icon-star"></i>
                                <i class="icon icon-star"></i>
                            </div>
                            <div class="fill" style="width: 70%;">
                                <i class="icon icon-star"></i>
                                <i class="icon icon-star"></i>
                                <i class="icon icon-star"></i>
                                <i class="icon icon-star"></i>
                                <i class="icon icon-star"></i>
                            </div>
                        </div>
                            
                        <span class="text-sm opacity">5</span>
                    </div>
                    
                    <div class="text-sm opacity">£££</div>
                    
                </div>
                <p class="subtitle">
                    Crossoaks Lane Well End Nr. Boreham Herts WD6 5PH <span class="text-sm opacity">110 meters</span></p>
                <p class="description">
                    London Pass - see London's top attractions and save over £141 on entry prices.!
                    London Pass - see London's top attractions and save over £141 on entry prices.!
                </p>
                <a href="#" class="btn transition">Read More<i class="icon icon-arrow-right btn-icon-arrow"></i></a>
            </div>
            
            <div class="item bg bbox">
                <a href="#" class="hdr"></a><span class="image" style="background-image: url(img/slider-img.jpg)"></span>
                <p class="title">Top Attractions Top Attractions Top Attractions</p>
                <div class="rating flex">
                    <div class="flex">
                        <div class="stars">
                            <div class="strock">
                                <i class="icon icon-star"></i>
                                <i class="icon icon-star"></i>
                                <i class="icon icon-star"></i>
                                <i class="icon icon-star"></i>
                                <i class="icon icon-star"></i>
                            </div>
                            <div class="fill" style="width: 80%;">
                                <i class="icon icon-star"></i>
                                <i class="icon icon-star"></i>
                                <i class="icon icon-star"></i>
                                <i class="icon icon-star"></i>
                                <i class="icon icon-star"></i>
                            </div>
                        </div>
                            
                        <span class="text-sm opacity">6</span>
                    </div>
                    
                    <div class="text-sm opacity">£££</div>
                    
                </div>
                <p class="subtitle">
                    Crossoaks Lane Well End Nr. Boreham Herts WD6 5PH <span class="text-sm opacity">110 meters</span></p>
                <p class="description">
                    London Pass - see London's top attractions and save over £141 on entry prices.!
                    London Pass - see London's top attractions and save over £141 on entry prices.!
                </p>
                <a href="#" class="btn transition">Read More<i class="icon icon-arrow-right btn-icon-arrow"></i></a>
            </div> 
            
            <div class="item bg bbox">
                <a href="#" class="hdr"></a><span class="image" style="background-image: url(img/slider-img.jpg)"></span>
                <p class="title">Top Attractions Top Attractions Top Attractions</p>
                <div class="rating flex">
                    <div class="flex">
                        <div class="stars">
                            <div class="strock">
                                <i class="icon icon-star"></i>
                                <i class="icon icon-star"></i>
                                <i class="icon icon-star"></i>
                                <i class="icon icon-star"></i>
                                <i class="icon icon-star"></i>
                            </div>
                            <div class="fill" style="width: 90%;">
                                <i class="icon icon-star"></i>
                                <i class="icon icon-star"></i>
                                <i class="icon icon-star"></i>
                                <i class="icon icon-star"></i>
                                <i class="icon icon-star"></i>
                            </div>
                        </div>
                            
                        <span class="text-sm opacity">7</span>
                    </div>
                    
                    <div class="text-sm opacity">£££</div>
                    
                </div>
                <p class="subtitle">
                    Crossoaks Lane Well End Nr. Boreham Herts WD6 5PH <span class="text-sm opacity">110 meters</span></p>
                <p class="description">
                    London Pass - see London's top attractions and save over £141 on entry prices.!
                </p>
                <a href="#" class="btn transition">Read More<i class="icon icon-arrow-right btn-icon-arrow"></i></a>
            </div> 
            
            <div class="item bg bbox">
                <a href="#" class="hdr"></a><span class="image" style="background-image: url(img/slider-img.jpg)"></span>
                <p class="title">Top Attractions Top Attractions Top Attractions</p>
                <div class="rating flex">
                    <div class="flex">
                        <div class="stars">
                            <div class="strock">
                                <i class="icon icon-star"></i>
                                <i class="icon icon-star"></i>
                                <i class="icon icon-star"></i>
                                <i class="icon icon-star"></i>
                                <i class="icon icon-star"></i>
                            </div>
                            <div class="fill" style="width: 100%;">
                                <i class="icon icon-star"></i>
                                <i class="icon icon-star"></i>
                                <i class="icon icon-star"></i>
                                <i class="icon icon-star"></i>
                                <i class="icon icon-star"></i>
                            </div>
                        </div>
                            
                        <span class="text-sm opacity">8</span>
                    </div>
                    
                    <div class="text-sm opacity">£££</div>
                    
                </div>
                <p class="subtitle">
                    Crossoaks Lane Well End Nr. Boreham Herts WD6 5PH <span class="text-sm opacity">110 meters</span></p>
                <p class="description">
                    London Pass - see London's top attractions and save over £141 on entry prices.!
                    London Pass - see London's top attractions and save over £141 on entry prices.!
                </p>
                <a href="#" class="btn transition">Read More<i class="icon icon-arrow-right btn-icon-arrow"></i></a>
            </div>                                                                                                                                            
        </div>
    </div>
</section>