<footer class="bg">
    <div class="container">
        <div class="flex">
            <ul class="links flex">
                <li><a href="#" class="text-md transition">Explore the Map</a></li>
                <li><a href="#" class="text-md transition">Terms of Service</a></li>
                <li><a href="#" class="text-md transition">Privacy</a></li>
            </ul>
            <ul class="social flex">
                <li><a href="#" class="transition text-bg"><i class="icon icon-twiter"></i></a></li>
                <li><a href="#" class="transition text-bg"><i class="icon icon-twiter"></i></a></li>
                <li><a href="#" class="transition text-bg"><i class="icon icon-twiter"></i></a></li>
            </ul>
        </div>
        
        <div class="copyright text-sm">
            © 2018-2019 Travlet Ltd. All rights reserved
        </div>
    </div>
</footer>
<script type="text/javascript" src="js/app.js?v=a6769491aa493f8212e330c05fb7ee66"></script>
<a href="#" class="to-top-btn transition">
    <i class="icon icon-arrow-top"></i>
</a>
