<section class="header-image big-image m-t-0">
    <div class="container">
        <div class="bg-image"  style="background-image: url(img/discount.jpg);"></div>
        <div class="bg bbox content">
            <h2>–20% for the next visit</h2>
            <div class="description">
                <p class="text">Forget about in-room coffee makers. Even in a 5-star hotel, you may need to pay for your morning Joe. Those cute little soaps and shampoos that everyone likes to take home are going down the drain, too.</p>
                <p class="text">If you got a screaming deal on the room, be prepared to pay for the extras. Your request for what has historically been standard with a room may, without warning, end up as an additional cost on your bill.</p>
            </div>
            <div class="footer flex">      
                <div class="text opacity text-md">
                    <i class="icon icon-info-circled text-bg"></i>Call Reception
                </div>
                <div>
                    <a href="#" class="btn mc">Read more<i class="icon icon-arrow-right text-md"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>