<section class="header-image">
    <div class="container">
        <div class="bg-image"  style="background-image: url(img/main-baner-img.jpg);"></div>
        <div class="bg bbox content">
            <div class="opacity">71-79 Southwark Street, London</div>
            <h1>Mercure London Bridge</h1>
            <div class="description">
                <p class="greeting">Welcome!</p>
                <p class="text">Mercure London Bridge is a flagship Mercure hotel located in the centre of London.</p>
                <p class="text">This Travlet is a guide to Mercure London Bridge and the surrounding area. We've included directions to find us, a number of hints and tips for local places to eat and drink along with links for things to do and places to see.</p>
            </div>
            <div class="footer flex">
                <div class="phone">
                    <p class="title">Call Reception</p>
                    <a href="tel:+44 20 7123 1234"><i class="icon icon-phone"></i>+44 20 7123 1234</a>
                </div>
                <div>
                    <a href="#" class="btn mc icon icon-place">See all places around</a>
                </div>
            </div>
        </div>
    </div>
</section>