<div class="mobile-menu mobile" id="mobile-menu">
    <div class="inner">
        <div class="title">
            Menu
            <span class="toggle-off"><i class="icon icon-close"></i></span>
        </div>
        <ul>
            <li>
                <button class="toggle mobile-menu-button" data-target="mobile-menu-language">
                    <span>Language:</span>
                    <img src="img/flag/flag-1.svg" alt="">
                    <i class="icon icon-next"></i>
                </button>
            </li>
            <li>
                <a class="toggle-off" href="#smooth-1" data-target="#smooth-1">Recommended</a>
            </li>
            <li>
                <a class="toggle-off" href="#smooth-2" data-target="#smooth-2">Information</a>
            </li>
            <li>
                <a class="toggle-off" href="#smooth-3" data-target="#smooth-3">Map</a>
            </li>
            <li>
                <a class="toggle-off" href="#smooth-4" data-target="#smooth-4">Getting here</a>
            </li>
            <li>
                <a class="toggle-off" href="#smooth-5" data-target="#smooth-5">Local Attractions</a>
            </li>
            <li>
                <a class="toggle-off" href="#smooth-6" data-target="#smooth-6">Local Food</a>
            </li>
            <li>
                <a class="toggle-off" href="#smooth-8" data-target="#smooth-8">Faq Accordion</a>
            </li>
            
        </ul>
    </div>
</div>

<div class="mobile-menu mobile language" id="mobile-menu-language">
    <div class="inner">
        <div class="title">
            Language
            <a href="#" class="toggle-off"><i class="icon icon-prev"></i></a>
        </div>

        <ul class="list">
            <li>
                <a href="#" class="toggle-off on">
                    <img src="img/flag/flag-1.svg" alt=""> English
                </a>
            </li>
            <li>
                <a href="#" class="toggle-off">
                    <img src="img/flag/flag-2.png" alt="">Russian
                </a>
            </li>
            <li>
                <a href="#" class="toggle-off">
                    <img src="img/flag/flag-3.png" alt=""> Chinese
                </a>
            </li>
            <li>
                <a href="#" class="toggle-off">
                    <img src="img/flag/flag-3.png" alt=""> Chinese
                </a>
            </li>
            <li>
                <a href="#" class="toggle-off">
                    <img src="img/flag/flag-3.png" alt=""> Chinese
                </a>
            </li>
            <li>
                <a href="#" class="toggle-off">
                    <img src="img/flag/flag-3.png" alt=""> Chinese
                </a>
            </li>
            <li>
                <a href="#" class="toggle-off">
                    <img src="img/flag/flag-3.png" alt=""> Chinese
                </a>
            </li>
            <li>
                <a href="#" class="toggle-off">
                    <img src="img/flag/flag-3.png" alt=""> Chinese
                </a>
            </li>
        </ul>
    </div>
</div>