<section class="services bg m-b-0">
    <div class="container">     
        <div class="flex">
            <div class="col-2">
                <div class="item">
                    <p class="title">Late Checkout</p>
                    <p class="text">We are able to offer the following on request:</p>
                    <p class="price">&pound;30</p>
                    <a href="#" class="btn mc">Read More<i class="icon icon-arrow-right btn-icon-arrow"></i></a>
                </div>
            </div>
            <div class="col-2">
                <div class="item">
                    <p class="title">Late Checkout</p>
                    <p class="text">We are able to offer the following on request:</p>
                    <p class="price">&pound;30</p>
                    <a href="#" class="btn mc">Read More<i class="icon icon-arrow-right btn-icon-arrow"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>